extends partials/layout
block append footer-scripts
	script(src="js/age.js")
block content
	body
		.container
			#about.row(style="height:300px;")
				.col-sm-4
					img(src="/img/icon_29766.png" style="width:100%")
				.col-sm-8(style="display:table; height:100%;")
					h2 Under construction, more to come soon!
					h4 Sean is a 
						span#age
						|  developer working at Lyve Minds Inc.
