extends partials/layout
block content
	body
		.container
			#about.row(style="height:300px;")
				.col-sm-4
					img(src="/img/icon_29766.png" style="width:100%")
				.col-sm-8(style="display:table; height:100%;")
					h2 Under construction, more to come soon!