extends partials/layout
block content
	body
		.container
			#about
				h1(style="text-align:center;") Wide Right Consulting
				.row(style="height:300px;")
					.col-sm-4.col-xs-12(style="position:relative;height:300px;background-image:url(/img/icon_25072.svg); background-repeat:no-repeat; background-size:contain;").col-sm-offset-4
						img(src="img/icon_5170.svg")#ball

					p For those of you not familiar, with the Buffalo Bills and their storried past; Wide Right Consulting is a reference to Buffalo sports history.
					| The phrase came about when the Buffalo Bills missed a super-bowl winning Field 