head
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
	link(rel="stylesheet" href="/css/index.css")
	meta(name="viewport" content="width=device-width, initial-scale=1")
body
	.container-fluid
		.row(style="height:800px; background: url('/img/test.jpg') no-repeat; background-position: 20% 50%; background-size: fixed;}")
			.col-sm-4(style="display:table; height:100%;")
				h2(style="color:white") That Sean dude, what a fucking idiot that guy is.  Like seriously, fuck him.  What a prick.