extends ../partials/layout
block content
	body
		.container-fluid
			.row(style="height:800px; background: url('/img/test.jpg') no-repeat; background-position: 20% 50%;}")
				.col-sm-4(style="display:table; height:100%;")
					h2(style="color:white") That Sean dude, what a fucking idiot that guy is.  Like seriously, fuck him.  What a prick.
			.row(style="height:800px; background: url('/img/test.jpg') no-repeat; background-position: -50px; 200px;}")
				.col-sm-4(style="display:table; height:100%;")
					h2(style="color:white") That Sean dude, what a fucking idiot that guy is.  Like seriously, fuck him.  What a prick.
